/* top bar css start here */
.top-bar {
    position: fixed;
    width: 100%;
    background: #fff;
    top: 0;
    z-index:999;
}
.search-bar-form {
    padding: 18px 0 40px;
    cursor: pointer;
}
.search-bar-form form{
    position: relative;
    max-width: 375px;
    margin: 0 auto;
}
.search-bar-form form input {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: rgba(255, 255, 255, 0.50);
    padding-left: 45px;
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-size: 16px;
    line-height: normal;
    font-family: 'Montserrat';
    font-size: 18px;
}
.search-bar-form .search-icon{
    position: absolute;
    top: 3px;
    left: 10px;
}
.search-bar-form .search-icon img.searchicon {
    width: 20px;
}
/* top bar css end here */


/* sidebar css start here */
.left-side-bar .site-logo img.logo {
    width: 100px;
}
.left-side-bar .sidebar-menu {
    margin-top: 50px;
}
.left-side-bar .sidebar-menu nav a{
    color:#000;
}
.left-side-bar .sidebar-menu nav a svg path{
    fill:#808080;
}
.left-side-bar .sidebar-menu nav a svg {
    margin-right: 20px;
    width: 25px;
}
.left-side-bar .sidebar-menu a.nav-link {
    font-family: 'Montserrat';
    font-size: 18px;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}
.left-side-bar .sidebar-menu a.active {
    color: #000;
    font-weight: 600!important;
}
.left-side-bar .sidebar-menu a.active svg path{
    fill:#000;
}
/* sidebar css end here */

.content-outer {
    position: relative;
    margin-top: 100px;
}

/* dashboard page css start here */
.content-outer h1 ,.content-outer h2 , .content-outer h3 , .content-outer h4
, .content-outer h5 , .content-outer h6 ,  .content-outer span , .content-outer p{
    font-family: 'Montserrat';
}
.all-feeds-lists .single-feed-outer .feed-name-slog h4 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0;
    text-align: start;
}
.all-feeds-lists .single-feed-outer .feed-name-slog span {
    font-weight: 400;
    font-size: 16px;
}


.all-feeds-lists .feed-likes {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 10px 10px 0px;
    gap:10px;
}
.all-feeds-lists .feed-likes .like-icon svg path {
    fill: red;
    stroke: red;
}
.all-feeds-lists .feed-caption-outer {
    padding: 10px 10px 0;
    display: flex;
    gap:10px;
}
.all-feeds-lists .feed-uname h4 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0;
    text-align: start;
    color: #000;    
    line-height: 24px;

}
.feed-comment-outer .feed-comment {
    padding: 0 10px 0px;
    display: flex;
    gap: 10px;
}
.feed-comment-outer .feed-comment.feed-post-date {
    padding:0 10px 10px;
}
.more-comment a {
    color: #000;
}
.feed-form.comment-form{
    padding:10px;
    border-top:1px solid #dfdfdf;
}
.all-feeds-lists .single-feed-outer .feed-likes .feed-name-slog{
    padding: 0;
}
.all-feeds-lists .feed-caption p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0;
    text-align: start;
    color: #000;
}
.main-content .all-feeds-lists {
    max-width: 475px;
    margin: 50px auto 20px;
    padding: 5px 0;
}
  .main-content .all-feeds-lists::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  }
   
  .main-content .all-feeds-lists::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #a9acad;
  }
  .main-content .all-feeds-lists::-webkit-scrollbar{
    width: 8px;
  }
.menu-bar-row {
    top: 0;
    width: 214px;
    position: fixed;
    margin-top: 100px
}
.all-feeds-lists .single-feed-outer .feed-name-slog{
    padding: 10px;
    text-align: start;
}
.single-feed-outer {
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 0px 15px;
    border-radius: 13px
}
.single-feed-outer img {
    border-radius: 13px;
    height: 400px;
    object-fit: cover;
    width: 100%;
}
/* dashboard page css start here */

/*notification page css start here */
.all-notifications-lists h3 {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 700;
    color: #000;
    margin-bottom: 40px;
}
.notifications-content-area {
    max-width: 475px;
    margin:50px auto 0;
}
.single-notification {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
    margin-bottom: 25px;
    gap: 20px;
}
.single-notification .user-profile-pic img.searchicon {
    border-radius: 100px;
}
.single-notification .user-activity-on-post h6 {
    font-family: 'Montserrat';
    font-size: 18px;
    margin-bottom:0;
    text-align: start;
}
.single-notification .user-activity-on-post h6 span{
    font-weight: 600;
}


/* notification page css end here */
/*profile page css start here */
.profile-main {
    max-width: 650px;
    margin: 0 auto 30px;
}
.profil-img-content .prof-img img {
    width: 60%;
}
.profile-main .profile-heading h5 {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.profil-img-content .user-small-info h4.u-name{
    color: #000;
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    text-align: start; 
    margin-bottom: 20px; 
}
.profil-img-content .user-small-info p.u-desc {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start; 
}
.profil-img-content {
    display: flex;
    align-items: center;
    margin: 50px 0;
    gap: 30px;
}
.profile-main .single-box .activity-content{
    display:flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-between;
    margin-top: 20px;
}
.profile-main .single-box .activity-content p {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
}
.profile-main .user-activity-image-box {
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 50px;
    row-gap: 40px;

}
.profile-main .single-box .activity-image img {
    border-radius: 13px;
    max-width: 100%;
}
/*profile page css end here */

/* post-detail page css end here */

.profile-post-detail{
    max-width: 800px;
    margin: 50px auto 30px;
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.profile-post-detail .profile-post-image img{
     max-width: 100%;
}
.profile-post-detail .profile-post-content h4 {
    color: #000;
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: start;
    margin-bottom: 0px;
}
.post-threedot-icon button.post-option-button:after{
    display: none;
}
.post-threedot-icon button.post-option-button:active ,
.post-threedot-icon button.post-option-button.show{
    border:none;
}
    .profile-post-detail .profile-post-content p {
        color: #000;
        font-size: 16px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: start;
    }
    .profile-post-detail .post-date-place {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dfdfdf;
        padding: 10px;
    }
    .profile-post-detail .post-date-place span {
    color: #000;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: start;
}
.profile-post-content{
    position:relative;
}
.profile-post-content .user-comment-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
    .profile-post-detail .post-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10px;
    }
    .profile-post-detail .post-decr{
        padding-left: 10px; 
    }
    .profile-post-detail .post-caption {
        padding: 10px;
    }
    .profile-post-detail .post-caption h6 {
        color: #000;
        font-size: 16px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: start;
        margin-bottom: 0;
    }
    .profile-post-detail .post-comment{
        padding:0 10px 10px;
        height: 200px;
        overflow-y: auto;
    }
    .profile-post-detail .single-post-comment{
        text-align: start;
    }
    .user-comment-like-outer {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: start;
        padding: 10px;
        border-bottom: 1px solid #dfdfdf;
    }
     .comment-form {
        padding: 10px 10px;
    }
    .comment-form .comment-field {
        position: relative;
    }
    .comment-field button.sub-bnt-comnt {
        position: absolute;
        top: 0;
        right: 0;
        color: #000;
        font-size: 16px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: start;
        margin-bottom: 0;
        padding: 0;
    }
    .profile-post-detail .single-post-comment span {
        color: #000;
        font-size: 16px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: start;
        margin-bottom: 0;
    }
    .user-comment-like-outer span {
        color: #000;
        font-size: 18px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: start;
        margin-bottom: 0;
    }
    .user-comment-like-outer .like-icon img {
        width: 18px;
    }
    .comment-form .comment-field input{
        border:none;
        padding: 0;
        color: #000;
        font-size: 16px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: start;
    }
    .comment-form .comment-field input:focus{
        box-shadow: none;
    }
    .comment-form .comment-field input::placeholder{
        color: #000;
        font-size: 16px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: start;
        margin-bottom: 0;
    }
/* post-detail page css end here */

/* explore page css end here */
.explore-main-area .explore-heading h3 {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    margin-bottom: 40px;
}
/* explore  page css end here */

@media (min-width: 992px){
.sidebar-menu .navbar-expand-lg .navbar-nav {
    flex-direction: column;
}
}
@media (max-width: 992px){
    .top-bar{
        z-index: 0;
    }
    .menu-bar-row{
        width:100%;
        right: 0;
        left: 0;
        margin-top:0;
        margin:0;
    }
    .sidebar-menu .navbar-collapse {
        width: 100%;
        background: #fff;
        top: 70px;
        position: absolute;
    }
    .menu-bar-row .sidebar{
width:100%;
    }
    .left-side-bar .sidebar-menu {
        margin-top: 0px;
    }
    .left-side-bar {
        position: relative;
        flex-flow: column-reverse;
        display: flex;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
}